<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>To do list</title>
        <link rel="stylesheet" href="{% static "base.css" %}">
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <script src="{% static "chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "js/base.js" %}"></script>
        {% block extra %}{% endblock %}
    </head>

    <body>
        <div class="content">{% block content %}{% endblock %}</div>

        <footer>{% block footer %}<i>Список задач</i>{% endblock %}</footer>
    </body>
</html>