{% extends "base.html" %}

<div class="content">
    {% block content %}
        <nav>
            <a href="{% url "to_do_list:to_do_list_list" %}">Вернуться к списку</a>
            <p></p>

            {% if not object.mark_as_done and object.author == user %}
                <a class="task-edit-link" href="{% url "to_do_list:edit_task" pk=object.id %}">Редактировать задачу</a>
                <p></p>
            {% endif %}
        </nav>

        <section>

            <article><strong>{{ object.title }}</strong></article>

            <p>{{ object.description }}</p>
            <p></p>
            <p></p>

            {% if object.mark_as_done %}
                <article>Задача сделана</article>
            {% else %}
                <article>Задача еще не сделана</article>
            {% endif %}
            {% if object.author == user %}
                <a class="task-done-link" href="{% url "to_do_list:task_done" pk=object.id %}">Изменить статус задачи</a>
                <p></p>
            {% endif %}

            <p>Создана: {{ object.created }}</p>
            <p>Обновлена: {{ object.updated }}</p>
            {% if object.mark_as_done %}
                <p>Закончена: {{ object.finished }}</p>
            {% endif %}
            <p></p>


        </section>
{% endblock %}
</div>